*.zip
order-service/target
order-service/mvnw
order-service/mvnw.cmd
order-service/.mvn/
eureka-server/target
eureka-server/.mvn/
eureka-server/mvnw
eureka-server/mvnw.cmd
user-service/target
user-service/mvnw
user-service/mvnw.cmd
user-service/.mvn/

gateway-service/target
gateway-service/mvnw
gateway-service/mvnw.cmd
gateway-service/.mvn/
