<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef> orderId. </th>
      <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="orderDetail">
      <th mat-header-cell *matHeaderCellDef> orderDetail </th>
      <td mat-cell *matCellDef="let element"> {{element.orderDetail}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="quantityUnit">
      <th mat-header-cell *matHeaderCellDef> quantityUnit </th>
      <td mat-cell *matCellDef="let element"> {{element.quantityUnit}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
  